@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === Mixin ===
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}
// === / Mixin ===

// === Variables ===
$base: 4px;

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

$fs-sm: 12px;
$fs-md: 15px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: 0.2s;

$color-divider: #d8e3fe;
$color-primary: #697ca6;
$color-secondary: #6188ff;
// === / Variables ===

// === Common ===
body {
  @include roboto;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.btn {
  @include quicksand;

  margin: 0;
  padding: $base*3 $base*4;

  font-weight: $fw-bold;
  font-size: $fs-sm;
  text-decoration: none;

  background-color: none;

  border: 0;
  border-radius: 2px;

  &--primary {
    color: #3a79ff;

    background-color: #d2e1ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
}
// === / Common ===

// === header ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  width: $base * 6;
  height: $base * 6;

  background-color: #5e81fe;

  border-radius: 100%;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;
      color: $color-primary;

      font-weight: $fw-medium;
      font-size: $fs-sm;
      text-decoration: none;

      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        color: $color-secondary;
        font-weight: $fw-bold;
        text-decoration: none;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        transition: $transition;

        fill: $color-primary;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / header ===

// === hero-image ===
.section-hero-image {
  background-color: #f4f7ff;
}
// === / hero-image ===

// === cutomers ===
.section-customers {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
// === / cutomers ===

// === plan-and-manage ===
.section-plan-and-manage {
  background-color: #f5f8ff;
}
// === / plan-and-manage ===

// === features ===
.section-features {}
// === / features ===

// === stats ===
.section-stats {
  background-color: #e9efff;

  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}
// === / stats ===

// === blog ===
.section-blog {
  background-color: #f5f8ff;
}
// === / blog ===

// === quotes ===
.section-quotes {
  background-color: #eaf0ff;
}
// === / quotes ===

// === faq ===
.section-faq {}
// === / faq ===

// === get-started ===
.section-get-started {
  background-color: #6888ff;
}
// === / get-started ===

// === newsletter ===
.section-newsletter {
  background-color: #fcfdff;
}
// === / newsletter ===

// === footer ===
.section-footer {
  border-bottom: 0;

  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.copyright {
  @include quicksand;

  margin-top: $base * 7;
  margin-left: $base * 24;

  color: #aeb8d0;
  font-weight: $fw-medium;
  font-size: $fs-sm;
}
// === / footer ===
