@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === Mixin ===
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin size-zero {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
// === / Mixin ===
// === Function ===
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}
// === / Function ===
// === Variables ===
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1;

$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: rem(10px);
$fs-xs: rem(12px);
$fs-s: rem(15px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);

$transition: 0.2s;

// === Colors ===
$color-divider: #d8e3fe;
$color-white: #fff;

// Red
$color-red-400: #ffd7d7;
$color-red-500: #ff3535;
$color-red-600: #d43f3f;

// Cian
$color-cian-500: #35aaff;

// Yellow
$color-yellow-500: #ffc735;

// Gray
$color-gray-50: #f5f8ff;
$color-gray-100: #c7d3ff;
$color-gray-200: #aeb8d0;
$color-gray-300: #adb4d2;
$color-gray-400: #8e96b7;
$color-gray-500: #8d96bd;
$color-gray-600: #7382a3;
$color-gray-700: #7a85ad;
$color-gray-800: #676f95;
$color-gray-900: #495274;

// Blue
$color-blue-50: #e9efff;
$color-blue-100: #6888ff;
$color-blue-200: #6188ff;
$color-blue-300: #5e80ff;
$color-blue-400: #5e81fe;
$color-blue-500: #4c85ff;
$color-blue-600: #5283ff;
$color-blue-700: #3a79ff;
$color-blue-800: #4074f8;
$color-blue-900: #3d4f9f;

// === / Colors ===

$br-sm: $base/2;
$br-md: $base;
// === / Variables ===

// === Common ===

/* html {
  @media (max-width: $breakpoint-md-max) {
    font-size: 14px;
  }

  @media (max-width: $breakpoint-sm-max) {
    font-size: 10px;
  }
} */

body {
  @include roboto;

  padding-top: $base * 19;

  color: $color-gray-500;
}

.section-outer {
  padding: 0 $base*5;

  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;

  &--wide {
    max-width: 1200px;
  }
}

.vertical-indent {
  @mixin vertical-indent ($size) {
    padding-top: $size;
    padding-bottom: $size;
  }

  &--s {
    @include vertical-indent($base * 5);
  }

  &--m {
    @include vertical-indent($base * 15);
  }

  &--l {
    @include vertical-indent($base * 30);
  }

  @media (max-width: $breakpoint-md-max) {
    &--m {
      @include vertical-indent($base * 10);
    }

    &--l {
      @include vertical-indent($base * 15);
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    &--m {
      @include vertical-indent($base * 5);
    }

    &--l {
      @include vertical-indent($base * 10);
    }
  }
}

.input {
  padding: $base*3 $base*4;

  color: $color-gray-700;
  font-weight: $fw-bold;
  font-size: $fs-xs;

  background-color: $color-blue-50;
  border: 1px solid transparent;
  border-radius: $br-sm;

  &--size-lg {
    padding: $base*5 $base*6;

    border-radius: $br-md;
  }
}

.btn {
  @include quicksand;

  display: inline-block;
  margin: 0;
  padding: $base*3 $base*4;

  font-weight: $fw-bold;
  font-size: $fs-xs;
  white-space: nowrap;
  text-decoration: none;

  background: none;

  border: 0;
  border-radius: $br-sm;
  box-shadow: border-box;
  cursor: pointer;

  &--size-lg {
    padding: $base*5 $base*15;

    border-radius: $br-md;

    @media (max-width: $breakpoint-xs-max) {
      padding-right: $base * 5;
      padding-left: $base * 5;
    }
  }

  &--primary {
    color: $color-blue-700;

    background-color: $color-gray-100;

    &:hover {
      background-color: darken($color-gray-100, 5%);
    }
  }

  &--secondary {
    color: $color-white;

    background-color: $color-blue-500;

    &:hover {
      background-color: darken($color-blue-500, 5%);
    }

    &-inverted {
      color: #565f82;

      background-color: $color-white;

      &:hover {
        background-color: darken($color-white, 5%);
      }
    }
  }

  &--disabled {
    color: $color-gray-300;

    border: 1px solid $color-gray-100;

    &:hover {
      color: darken($color-gray-300, 10%);

      border: 1px solid darken($color-gray-100, 10%);
    }

    &-inverted {
      color: $color-gray-100;

      border: 1px solid $color-blue-50;

      &:hover {
        color: lighten($color-gray-100, 10%);

        border: 1px solid lighten($color-blue-50, 10%);
      }
    }
  }

  &--danger {
    color: $color-red-600;

    background-color: $color-red-400;

    &:hover {
      background-color: darken($color-red-400, 5%);
    }
  }

  &--grayscale {
    color: $color-gray-600;

    background-color: $color-gray-50;

    &:hover {
      background-color: darken($color-gray-50, 5%);
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(0) {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;

  margin: 0;
  padding: 0;

  font-weight: $fw-regular;
}

.section-subtitle {
  @include quicksand;

  margin-bottom: $base * 7;

  color: $color-blue-900;
  font-size: $fs-xxl;
}

h2 {
  @include roboto;

  margin-bottom: $base * 4;

  color: $color-blue-900;

  font-size: $fs-xxs;
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.ov-hidden {
  overflow: hidden;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $base * 6;
  height: $base * 6;

  cursor: pointer;

  &::before {
    display: block;
    width: $base * 2;
    height: $base * 2;

    background-color: $color-gray-100;
    border-radius: 100%;

    transition: $transition;

    content: '';
  }

  &-active {
    &::before {
      background-color: $color-blue-600;
    }
  }

  & + & {
    margin-left: $base;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
// === / Common ===

// === Navigation ===
.main-nav {
  display: flex;
  align-items: center;

  &__inner-wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;

    margin-left: $base * 18;

    .section-header & {
      @media (max-width: $breakpoint-md-max) {
        position: absolute;

        top: 100%;
        right: 0;
        left: 0;
        z-index: 10;

        display: none;

        margin-left: 0;
        padding: $base * 5;

        background-color: $color-white;
      }
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;

      .btn-wrapper,
      .socials,
      .nav {
        margin-top: $base * 5;
      }

      &,
      .btn-wrapper,
      .socials {
        margin-left: 0;
      }
    }
  }

  @media (max-width: $breakpoint-md-max) {
    .section-footer & {
      flex-direction: column;

      .logo {
        margin-top: $base * 5;
      }
    }
  }
}
// === / Navigation ===

// === header ===
.section-header {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

  background-color: $color-white;

  &::before {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    content: '';
  }

  &--active-nav {
    &::before {
      display: block;
    }

    .main-nav__inner-wrap {
      display: flex;
    }
  }
}

.btn-burger {
  display: none;
  margin-left: auto;

  &__line {
    display: block;
    width: $base * 4;
    height: $base / 2;

    background-color: $color-gray-100;

    & + & {
      margin-top: $base;
    }
  }

  @media (max-width: $breakpoint-md-max) {
    display: block;
  }
}

.logo {
  &__link {
    display: block;
    width: $base * 6;
    height: $base * 6;

    background-color: $color-blue-400;

    border-radius: 100%;
  }
}

.nav-wrapper {
  @include list-null();

  display: flex;

  &__item {
    & + & {
      margin-left: $base * 10;

      @media (max-width: $breakpoint-xs-max) {
        margin-left: 0;
      }
    }

    &-link {
      @include quicksand;
      color: $color-gray-900;

      font-weight: $fw-medium;
      font-size: $fs-xs;
      text-decoration: none;

      transition: $transition;

      &:hover {
        color: $color-blue-200;
      }

      &--active {
        color: $color-blue-200;
        font-weight: $fw-bold;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  @include list-null();

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        transition: $transition;

        fill: $color-gray-900;
      }

      &:hover {
        path {
          fill: $color-blue-200;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / header ===

// === hero-image ===
.section-hero-image {
  position: relative;

  padding: 0;
  overflow: hidden;

  background-color: lighten(#d8e0f7, 5%);

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;

    transform: translateX(-50%);
  }
}

.slider-hero-image {
  @include list-null();

  display: flex;

  &__item {
    min-width: 100%;
    height: $base * 140;

    text-align: center;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &-content {
      .section-subtitle {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }

      .text {
        max-width: 60%;
        margin: 0 auto $base*5;

        line-height: 2;
      }
    }
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;

  background-color: $color-white;
  border-radius: 100%;
  box-shadow: 0 $base*2 $base*12 rgba(#c9d1e7, 0.6);

  svg {
    width: $base * 3;
    height: $base * 3;
  }
}
// === / hero-image ===

// === customers ===
.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    opacity: 0.2;

    transition: $transition;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    flex-wrap: wrap;
    justify-content: center;

    a {
      flex-basis: 45%;
      margin-top: $base * 3;
      margin-bottom: $base * 3;

      text-align: center;
    }
  }
}
// === / customers ===

// === plan-and-manage ===
.section-plan-and-manage {
  position: relative;

  overflow: hidden;

  background-color: $color-gray-50;

  &__content {
    width: 55%;

    .aside-image {
      position: absolute;
      top: 15%;
      left: 55%;
    }

    .section-subtitle {
      font-weight: $fw-light;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      margin-bottom: $base * 12;

      line-height: 2;
    }

    .btn-group {
      svg {
        margin-left: $base;
      }
    }

    @media (min-width: $breakpoint-lg-min) {
      width: 45%;

      .aside-image {
        left: 50%;
      }
    }

    @media (max-width: $breakpoint-xs-max) {
      width: 80%;

      .aside-image {
        top: 0;
        left: 75%;
      }
    }
  }
}
// === / plan-and-manage ===

// === features ===
.section-features {
  background: url(./../images/clouds.png) no-repeat 50% 50%;

  .section-subtitle {
    font-weight: $fw-medium;
    font-size: $fs-l;
  }
}

.features-list {
  @include list-null();

  display: flex;
  justify-content: space-around;
  margin: 0 0 $base*25;

  text-align: center;

  &__item {
    $margin-left: $base * 10;
    $divider-width: $base * 7;

    position: relative;

    flex-basis: 25%;

    & + & {
      margin-left: $margin-left;

      &::before {
        position: absolute;
        top: $base * 30;
        left: -$divider-width - ($margin-left - $divider-width)/2;

        width: $divider-width;
        height: 1px;

        background-color: $color-gray-100;

        content: '';
      }

      @media (max-width: $breakpoint-xs-max) {
        margin-bottom: $base * 15;
        margin-left: 0;

        &::before {
          display: none;
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: $base * 17;
      height: $base * 17;

      margin: 0 auto $base*8;

      background-color: $color-gray-50;

      border-radius: 100%;
    }

    &-title {
      @include roboto();

      margin-bottom: $base * 7;

      color: $color-blue-800;

      font-weight: $fw-bold;
      font-style: $fs-s;
    }

    &-text {
      font-size: $fs-xs;
      line-height: 2;
    }

    @media (max-width: $breakpoint-xs-max) {
      flex-basis: 48%;

      &-icon {
        margin-bottom: $base * 4;
      }

      &-title {
        margin-bottom: $base * 3;
      }
    }
  }

  @media (max-width: $breakpoint-md-max) {
    margin-bottom: $base * 15;
  }

  @media (max-width: $breakpoint-xs-max) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $base * 5;
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 $base*4;

  font-weight: $fw-medium;
  font-style: $fs-xs;

  &::before,
  &::after {
    display: block;
    width: $base * 4;
    height: 1px;

    background-color: $color-gray-100;

    content: '';
  }

  &::before {
    margin-right: $base * 4;
  }

  &::after {
    margin-left: $base * 4;
  }

  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }
}
// === / features ===

// === stats ===
.section-stats {
  display: flex;

  padding: 0;

  background-color: $color-blue-50;

  &__left,
  &__right {
    @include quicksand;

    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: $base*16 $base*22;

    &-icon {
      margin-bottom: $base * 6;
    }

    &-title {
      margin-bottom: $base * 7;

      font-size: $fs-xxl;
    }

    &-text {
      font-weight: $fw-regular;
      font-size: $fs-m;
      line-height: 1.5;

      @media (min-width: $breakpoint-lg-min) {
        width: 50%;
      }
    }
  }

  &__left {
    align-items: flex-end;

    color: $color-white;

    text-align: right;

    background-color: $color-blue-100;

    div {
      color: $color-white;
    }
  }

  &__right {
    color: $color-blue-300;

    .section-stats__righ-title {
      color: $color-blue-300;
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    &__left,
    &__right {
      padding: $base*8 $base*10;
    }
  }
}
// === / stats ===

// === blog ===
.section-blog {
  background-color: $color-gray-50;

  .section-subtitle {
    font-weight: $fw-medium;
    font-size: $fs-l;
  }
}

.slider-blog {
  position: relative;

  margin-bottom: $base * 25;

  @media (max-width: $breakpoint-md-max) {
    margin-bottom: $base * 15;
  }
}

.slider-blog-container {
  position: relative;

  overflow: hidden;

  background-color: $color-white;
  border: 1px solid $color-gray-100;

  box-shadow: 0 $base*3 $base*12 $color-gray-100;
}

.slider-blog-wrapper {
  @include list-null();

  display: flex;

  &__item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 100%;
    padding: $base*16 $base*8;

    &-gallery {
      display: grid;
      grid-gap: $base * 3;
      grid-template-rows: repeat(2, $base*30);
      grid-template-columns: repeat(3, $base*30);

      .image-link {
        position: relative;

        display: block;
        overflow: hidden;

        border-radius: $br-md;
        box-shadow: 0 $base*4 $base*25 $color-gray-50;

        &::after {
          position: absolute;

          top: 50%;
          left: 50%;

          display: block;

          width: $base * 16;
          height: $base * 16;

          background: $color-white url(../images/blog/loupe.svg) no-repeat 50% 50%;
          border-radius: 100%;

          transform: translate(-50%, -50%);
          opacity: 0;

          transition: $transition;

          content: '';
        }

        &:hover::after {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          @include size-zero();

          position: absolute;

          opacity: 0.5;

          content: '';
        }

        &--bg {
          grid-row: 1 / 3;
          grid-column: 1 / 3;

          &::before {
            background: linear-gradient(transparent, $color-yellow-500);

            content: '';
          }
        }

        &--sm-1 {
          grid-row: 1 / 2;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, $color-red-500);

            content: '';
          }
        }

        &--sm-2 {
          grid-row: 2 / 3;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, $color-cian-500);

            content: '';
          }
        }
      }

      @media (max-width: $breakpoint-md-max) {
        grid-gap: $base*2;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);

        .image-link {
          grid-row: 1 / 2;

          &--bg {
            grid-column: 1 / 2;
          }

          &--sm-1 {
            grid-column: 2 / 3;
          }

          &--sm-2 {
            grid-column: 3 / 4;
          }
        }
      }
    }

    &-content {
      flex-grow: 1;
      margin-left: $base * 5;

      h3 {
        margin-bottom: $base * 7;

        color: $color-blue-900;
        font-size: $fs-xl;
      }

      &-text {
        margin-bottom: $base * 10;

        font-size: $fs-s;
        line-height: 2;
      }
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
      align-items: flex-start;
      padding: $base*6;

      &-gallery {
        width: 50%;
      }

      &-content {
        position: relative;
        z-index: 10;

        margin-top: $base * 6;
        margin-left: 0;

        h3 {
          margin-bottom: $base * 3;
        }
      }
    }

    @media (max-width: $breakpoint-xs-max) {
      &-gallery {
        width: 100%;
      }
    }
  }
}

.btn-blog {
  position: absolute;
  top: 50%;

  display: block;
  width: $base * 10;
  height: $base * 10;

  background: url(../images/blog/arrow-left.svg) no-repeat 50% 50%;

  &--prev {
    right: 100%;

    margin-right: $base * 16;

    transform: translate(-50%);
  }

  &--next {
    left: 100%;

    margin-left: $base * 16;

    transform: translate(-50%) rotate(180deg);
  }

  @media (max-width: $breakpoint-lg-max) {
    display: none;
  }
}
// === / blog ===

// === quotes ===
.section-quotes {
  overflow: hidden;

  background: linear-gradient(#eaebff, $color-gray-50);

  .section-inner {
    display: flex;
    justify-content: space-between;

    .section-subtitle {
      font-weight: $fw-medium;
      font-size: $fs-xl;
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
    }
  }

  &__left,
  &__right {
    width: 45%;

    @media (max-width: $breakpoint-md-max) {
      width: 100%;
    }
  }

  &__left {
    .text {
      line-height: 2;
    }
  }
}

.slider-quotes-container {
  width: calc(50vw + #{$base*12});
  margin: -$base*12 0 $base*10 -$base*12;
  overflow: hidden;

  @media (max-width: $breakpoint-md-max) {
    width: 110vw;
    margin-top: 0;
  }
}

.slider-quotes {
  @include list-null();

  display: flex;

  &__item {
    min-width: 25vw;
    padding: $base * 12;

    opacity: 0.5;

    transition: opacity $transition;
  }

  @media (max-width: $breakpoint-md-max) {
    width: 50vw;

    &__item {
      min-width: 100%;
    }
  }
}

.slider-quotes-item-content {
  position: relative;

  background-color: $color-white;
  border: 1px solid #d8e3fe;
  box-shadow: 0 $base $base*12 $color-gray-100;

  &__text {
    padding: $base*7 $base*9 $base*11;

    color: $color-gray-800;
    font-size: $fs-xs;
    line-height: 2;
  }

  &__photo {
    $height: $base * 15;

    position: absolute;
    top: 100%;
    left: 50%;

    width: $height;
    height: $height;
    overflow: hidden;

    background-color: $color-white;

    border-radius: $base * 25;
    transform: translate(-50%, -$height/2);
  }

  @media (max-width: $breakpoint-md-max) {
    width: 100%;
  }
}

.swiper-slide-active {
  opacity: 1;
}
// === / quotes ===

// === faq ===
.section-faq {
  .section-inner {
    .section-subtitle {
      font-weight: $fw-medium;
      font-size: $fs-l;
    }
  }
}

.faq-accordion {
  @include list-null();

  &__item {
    $parent: &;

    border-bottom: 1px solid $color-gray-100;

    &--active {
      .arrow {
        stroke: $color-gray-900;
      }

      #{$parent}-trigger {
        &-icon {
          transform: rotate(0);
        }

        &-text {
          color: $color-gray-900;
          font-weight: $fw-bold;
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }

    &-trigger {
      display: flex;

      padding: $base * 4;

      cursor: pointer;

      &-icon {
        width: $base * 4;
        margin-right: $base * 4;

        text-align: center;

        transform: rotate(180deg);

        .arrow {
          stroke: $color-gray-400;
        }
      }

      &-text {
        font-size: $fs-s;
      }
    }

    &-content {
      display: none;

      padding: 0 $base*4 $base*4 $base*12;

      &-text {
        flex-grow: 1;

        font-size: $fs-s;
        line-height: 2;
      }

      &-btn {
        margin-left: $base * 15;
      }

      @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;

        &-btn {
          margin-left: 0;
        }

        &-text {
          margin-bottom: $base * 2;
        }
      }
    }
  }
}
// === / faq ===

// === get-started ===
.section-get-started {
  position: relative;

  color: $color-white;
  text-align: center;

  background: linear-gradient($color-blue-100, $color-blue-300);

  &::before {
    @include size-zero();

    position: absolute;
    z-index: 5;

    background: url(./../images/bg-clouds.svg) no-repeat 50% 50%;

    content: '';
  }

  .section-inner {
    position: relative;
    z-index: 10;

    h2,
    .section-subtitle {
      color: $color-white;
    }

    .section-subtitle {
      font-weight: $fw-light;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      margin: 0 auto $base*10;

      line-height: 2;

      @media (min-width: $breakpoint-sm-min) {
        max-width: 60%;
      }
    }
  }
}
// === / get-started ===

// === newsletter ===
.section-newsletter {
  background: linear-gradient($color-gray-50, $color-white);

  .section-inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
    }
  }

  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand();

      margin-bottom: $base * 4;

      color: $color-blue-900;

      font-weight: $fw-bold;
      font-size: $fs-m;
      text-transform: none;
    }

    &-text {

      font-size: $fs-s;
      line-height: 2;
    }

    @media (max-width: $breakpoint-md-max) {
      margin-bottom: $base * 5;
    }
  }

  &__right {
    flex-basis: 55%;
  }

  .form-newsletter {
    display: flex;

    input {
      flex-grow: 1;
    }

    .btn {
      margin-left: $base * 3;
    }
  }
}
// === / newsletter ===

// === footer ===
.section-footer {
  border-bottom: 0;
}

.copyright {
  @include quicksand;

  margin-top: $base * 7;
  margin-left: $base * 24;

  color: $color-gray-200;
  font-weight: $fw-medium;
  font-size: $fs-xs;

  @media (max-width: $breakpoint-md-max) {
    margin-left: 0;

    text-align: center;
  }
}
// === / footer ===
